:root {
    --accent-color: #00D2A1;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

body.dark {
    background-color: #121212;
    color: #e0e0e0;
    transition: 0.3s;
}

body.dark .btn-theme{
    border: 2px solid #343434;
    transition: 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

 .input1 {
    width: 300px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font: 16px 'Montserrat', sans-serif;
    margin-bottom: 30px;
} 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    background: #fff;
    width: 1170px;
    margin: 32px auto 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-weight: bold;
}

.h-nav {
    width: 100%;
}

.h-nav, .nav-list, .sign-btns{
    display: flex;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    margin-left: 24px;
}

.bit {
    color: var(--accent-color);
}

.navigation {
    margin-left: 120px;
}

.nav-item:not(:last-child) {
    margin-right: 64px;
}

.sign-btns {
    margin-left: 87px;
}

.sign-item:not(:last-child) {
    margin-right: 24px;
}

.signin{
    cursor: pointer;
    background: none;
    border: solid, 1px, #A6A6A6;
    border-radius: 12px;
    width: 75px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px, 15px;
}
.signin:hover {
    background-color: var(--accent-color);
    color: #fff;
    transition: 0.3s;
}

.btn-theme {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;

    width: 50px;
    height: 50px;
    
    font-size: 24px;

    background: none;

    border-radius: 5px;
    border: 2px solid #ccc;

    transition: 0.3s;
}
